# Frameworks
django
djangorestframework

# Base de Dados
psycopg[binary]

# Servidor (Produção)
gunicorn
uvicorn

# Utilidades
django-cors-headers

# Autenticação e Documentação
djangorestframework-simplejwt
drf-spectacular
